<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/blue.png" style="transform: scale(1.5);" class="navbar-brand-img" alt="Logotipo Simple tournament">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="fa-solid fa-house"></i>
              <span class="nav-link-text">Inicio</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link {% if 'organizations' in segment %} active {% endif %}" href="/organizations">
              <i class="fa-solid fa-sitemap" style="color: #7f6fc7;"></i>
              <span class="nav-link-text">Organizaciones</span>
            </a>
          </li>
          
          <!-- Se muestra este elemento solo si el usuario es administrador -->
          {% if current_user.is_admin %}
          <li class="nav-item">
            <a class="nav-link {% if 'organizations' in segment %} active {% endif %}" href="/activities">
              <i class="fa-solid fa-layer-group" style="color: #ec946b;"></i>
              <span class="nav-link-text">Actividades</span>
            </a>
          </li>
          {% endif %}
             
        </ul>
      </div>
    </div>
  </div>
</nav>